# Fichiers sensibles personnalisés 
*.secret
*.env
.envrc


# =========================================
# LOGS / DEBUG
# =========================================

# Fichiers de logs
*.log

# VSCode
.vscode/

