NGINX_IMAGE_TAG=1.31
NGINX_IPV4=0.100

PHP_IMAGE=localhost:5000/php-mysql
PHP_IMAGE_TAG=8.5-fpm
PHP_IPV4=0.110

MARIADB_IMAGE_TAG=12.3
MARIADB_IPV4=0.120
MARIADB_ROOT_PASSWORD=<Insérer ici le mdp root de MariaDB>

LEMPNET_PREFIX=172.40
LEMPNET_GATEWAY_IPV4=255.254
